{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>COSMECCA</title>
    
    <!-- main_style.css -->
    <link rel="stylesheet" href="{% static 'css/test.css' %}">

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <!-- chart.js -->
    <!-- <link rel="stylesheet" href="css/main.css"> -->
	<script defer src="{% static 'js/main.js' %}"></script>  
    <script defer src="{% static 'js/plugins/crypto-js.min.js' %}"></script>
    <script defer src="{% static 'js/utils/crypto.js' %}"></script>
    <script defer src="{% static 'js/utils/utils.js' %}"></script>
    <script src="{% static 'js/network/api.js' %}"></script>
    <script src="{% static 'js/network/on-ajax.js' %}"></script>
</head>