{% load static %}
<header>
    <div class="container">
        <nav class="header_box">
            <h1><a href="/prod-search/">COSMECCA</a></h1>
            <ul class="flex">
                <li name="nav-head" class="product"><a href="/prod-search/">제품 검색</a></li>
                <li name="nav-head" class="trend"><a href="/trend-analysis/">트렌드 분석</a></li>
                <li name="nav-head" class="market"><a href="/market/">시장 현황</a></li>
            </ul>
            <div class="user_info f_a_c">
                <img src="{% static '/image/user_img.svg' %}" class="m-r-12" alt="코스메카 이미지">
                <p class="m-r-12">COSMECCA</p>
                <div class="arrow">
                    <img src="{% static '/image/chevron_down.svg' %}" alt="chevron_down">
                </div>
            </div>
            <div class="submenu">
                <a href="/logout/">로그아웃</a>
            </div>
        </nav>
    </div>
    <div class="loading modal_bg roller"><div class="loading_area"><div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></div></div>
</header>