@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap");

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input, button {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, main {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a{
    text-decoration: none;
    color:#000;    
}
li{
    list-style: none;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
textarea:focus {
    outline: none;
  }
  button:focus {
    outline: none;
  }
  input:focus {
    outline: none;
  }
  select:focus {
    outline: none;
  }
  a:focus {
    outline:none;
}
textarea { overflow: auto; }
/* ------------------------------------------------------------------------------------------ */
/*-------폰트--------*/
body {
    font-family: "Noto Sans KR", sans-serif;
    background: #f9fafb;
    color: #161616;
    font-size: 14px;
  }
  body p,
  body a {
    line-height: 20px;
  }
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
  }
  .ellipsis.one {
    -webkit-line-clamp: 1;
  }
  .ellipsis.three {
    -webkit-line-clamp: 3;
  }
  .ellipsis01 {
    height: 34px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  p.info {
    color: #a7a7a7;
    font-size: 12px;
    line-height: 17px;
  }
  /*-------레이아웃-------*/
  .site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    /* [footer 하단고정] body에 추가 */
  }
  .site-content {
    flex: 1;
    /* [footer 하단고정] main에 추가 */
  }
  .container {
    width: 1340px;
    margin: 0 auto;
  }
  .container_564 {
    width: 564px;
    margin: 0 auto;
  }
  .center {
    text-align: center;
  }
  .flex {
    display: flex;
  }
  .f_center {
    display: flex;
    justify-content: center;
  }
  .f_a_c {
    display: flex;
    align-items: center;
  }
  .f_c_c {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .f_b {
    display: flex;
    justify-content: space-between;
  }
  .f_b_c {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .f_wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .f_col {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .f_end {
    display: flex;
    justify-content: flex-end;
  }
  .m-t-12 {
    margin-top: 12px;
  }
  .m-t-16 {
    margin-top: 16px;
  }
  .m-b-16 {
    margin-bottom: 16px;
  }
  .m-t-18 {
    margin-top: 18px;
  }
  .m-t-20 {
    margin-top: 20px;
  }
  .m-b-20 {
    margin-bottom: 20px;
  }
  .m-t-b-12 {
    margin: 12px 0;
  }
  .m-r-12 {
    margin-right: 12px;
  }
  .m-r-14 {
    margin-right: 14px;
  }
  .m-l-16 {
    margin-left: 16px;
  }
  .m-l-18 {
    margin-left: 18px;
  }
  .m-l-20 {
    margin-left: 20px;
  }
  .p-10 {
    padding: 10px;
  }
  .p-16 {
    padding: 16px;
  }
  .p-b {
    padding: 6px 12px 6px 35px;
  }
  .p-g {
    padding: 12px 16px;
  }
  .h-191 {
    height: 191px;
  }
  .b-t {
    border-top: 1px solid #e7e7e7;
  }
  .b-r {
    border-right: 1px solid #e7e7e7;
  }
  .b-l {
    border-left: 1px solid #e7e7e7;
  }
  .b-b {
    border-bottom: 1px solid #e7e7e7 !important;
  }
  .wrap {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
  }
  .wrap.bg-g {
    background: #f8f8f8;
  }
  
  /*------- 링크 버튼의 스타일 -------*/
  button {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    color: #595959;
    line-height: 20px;
    cursor: pointer;
  }
  button.b {
    background: #25287f;
    color: #fff;
    padding: 7px 12px;
  }
  
  /*-------기타-------*/
  #back-to-top {
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.3);
    display: inline-block;
    right: 105px;
    bottom: 65px;
    opacity: 0;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 50px;
  }
  #back-to-top.visible {
    opacity: 1;
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  .standard_time {
    color: #9d9ea2;
    font-size: 10px;
    line-height: 14px;
  }
  input::placeholder {
    color: #c4c4c4;
  }
  input:-moz-placeholder {
    color: #c4c4c4;
  }
  input:-ms-input-placeholder {
    color: #c4c4c4;
  }
  input[type="text"] {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 8px 12px;
  }
  :disabled {
    opacity: 0.4;
  }
  select {
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: url("/main_page/static/image/select-bg.svg") no-repeat 94% 50%, #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 41px 9px 12px;
    height: 38px;
  }
  select.w-160 {
    width: 160px;
  }
  select.w-240 {
    width: 240px;
  }
  select::-ms-expand {
    display: none;
  }
  .shadow {
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
  }
  
  /*------- 페이저 -------*/
  .pager {
    background: #f9f9f9;
    border-radius: 4px;
  }
  .pager span {
    height: 10px;
    display: inline-block;
    text-indent: -9999em;
    cursor: pointer;
  }
  .pager span.p_pre {
    background: url('/main_page/static/image/p_prev.svg') no-repeat;
    width: 16px;
  }
  .pager span.n_next {
    background: url('/main_page/static/image/n_next.svg') no-repeat;
    width: 16px;
  }
  .pager span.pre {
    background: url('/main_page/static/image/prev.svg') no-repeat;
    width: 10px;
    margin: 0 14px 0 8px;
  }
  .pager span.next {
    background: url('/main_page/static/image/next.svg') no-repeat;
    width: 10px;
    margin: 0 8px 0 14px;
  }
  .pager a {
    font-weight: 500;
    font-size: 13px;
    color: #1a1a1c;
    display: inline-block;
    /* width: 25px; */
    height: 25px;
    line-height: 25px;
    border-radius: 2px;
    margin-right: 8px;
    padding: 0px 8px;
  }
  .pager a:last-of-type {
    margin-right: 0;
  }
  .pager a.current {
    background: #25287f;
    color: #fff;
  }
  
  /*------- 모달 -------*/
  .modal_bg {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.11);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .modal_bg.active {
    opacity: 1;
    visibility: visible;
  }
  .modal_style {
    width: 972px;
    background: #ffffff;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 16px;
  }
  .modal_style span.m_close {
    display: inline-block;
    background: url("/main_page/static/image/close02.svg") no-repeat center center, #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    text-indent: -9999em;
    width: 34px;
    height: 34px;
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
  }
  
  /*------- 체크박스 & 라디오 버튼 -------*/
  input[type="checkbox"] + label {
    display: inline-block;
    background: url("/main_page/static/image/unchecked.svg") no-repeat center center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  input[type="checkbox"]:disabled + label {
    opacity: 0.4;
  }
  input[type="checkbox"]:checked + label {
    background: url("/main_page/static/image/checked.svg") no-repeat center center;
  }
  input[type="checkbox"] {
    display: none;
  }
  input[type="radio"] + label {
    display: inline-block;
    background: url("/main_page/static/image/unchecked.svg") no-repeat center center;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }
  input[type="radio"]:disabled + label {
    opacity: 0.4;
  }
  input[type="radio"]:checked + label {
    background: url("/main_page/static/image/checked.svg") no-repeat center center;
  }
  input[type="radio"] {
    display: none;
  }
  
  /*------- LOADING -------*/
  .modal_bg.loading {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background: rgba(225, 225, 225, 0.2);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: 0.4s;
  }
  .modal_bg.loading.active {
    opacity: 1;
    visibility: visible;
  }
  .lds-roller {
    display: inline-block;
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 49%;
    transform: translateX(-50%);
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 40px 40px;
  }
  .lds-roller div:after {
    content: "";
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fff;
    margin: -4px 0 0 -4px;
    background: #25287f;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 63px;
    left: 63px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 68px;
    left: 56px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 71px;
    left: 48px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 72px;
    left: 40px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 71px;
    left: 32px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 68px;
    left: 24px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 63px;
    left: 17px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 56px;
    left: 12px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loading_area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }
  
  /*------- Color -------*/
  .bgColor01 {
    background: #25287f;
  }
  .bgColor02 {
    background: #65ae55;
  }
  .bgColor03 {
    background: #7c368e;
  }
  .bgColor04 {
    background: #849af9;
  }
  .bgColor05 {
    background: #ffa800;
  }
  .bgColor06 {
    background: #ebb8a7;
  }
  .bgColor07 {
    background: #dee2f3;
  }
  .bgColor08 {
    background: #eceef2;
  }
  .bgColor09 {
    background: #bcc0cc;
  }
  .bgColor10 {
    background: #949aad;
  }
  .bgColor11 {
    background: #606781;
  }
  .pink {
    background: #ec6870;
  }
  .grayColor {
    background: #c2c2c2;
  }
  .dotted_line {
    width: 1px;
    height: 80%;
    border: 1px dashed #dcdcdc;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
  .chart_area06 .dotted_line {
    height: 69%;
    top: 18px;
  }
  
/* ------------------------------------------------------------------------------------------ */
  
  /* ------- 로그인 ------- */
  .login_bg {
    background: url("/main_page/static/image/login_bg.svg") no-repeat center center, #fff;
    height: 100vh;
  }
  .loginBox {
    width: 564px;
    height: 365px;
    background: #ffffff;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 59px 82px;
    text-align: center;
  }
  .loginBox h1 {
    display: inline-block;
  }
  .loginBox h2 {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #25287f;
  }
  .loginBox span {
    display: inline-block;
    width: 2px;
    height: 16px;
    background: #a6abc8;
    margin: 0 17px;
  }
  .loginBox .input_area {
    text-align: left;
    margin-top: 31px;
  }
  .loginBox .input_area input {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 6px;
    padding: 11px 16px;
  }
  .login .input_area {
    margin-bottom: 30px;
  }
  .loginBox button {
    width: 100%;
    background: #25287f;
    border-radius: 6px;
    padding: 12px 0;
    color: #ffffff;
  }
  
  /* ------- 헤더 ------- */
  header {
    padding: 17px 0;
    height: 72px;
    background: #25287f;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
  }
  nav {
    position: relative;
  }
  nav h1 a {
    background: url("/main_page/static/image/logo.svg") no-repeat;
    width: 157px;
    height: 32px;
    display: inline-block;
    text-indent: -9999em;
  }
  nav ul {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 4px;
    padding: 3px;
  }
  nav ul li a {
    background: url("/main_page/static/image/nav-icon01.svg") no-repeat 30% 50%;
    padding: 6px 55px 6px 75px;
    display: inline-block;
    width: 100%;
    color: #a6abc8;
    border-radius: 4px;
  }
  nav ul li.trend a {
    background: url("/main_page/static/image/nav-icon02.svg") no-repeat 30% 50%;
  }
  nav ul li.market a {
    background: url("/main_page/static/image/nav-icon03.svg") no-repeat 30% 50%;
  }
  nav ul li.on a {
    background: url("/main_page/static/image/nav-icon01_b.svg") no-repeat 30% 50%, #ffffff;
    color: #25287f;
    font-weight: 500;
  }
  nav ul li.trend.on a {
    background: url("/main_page/static/image/nav-icon02_b.svg") no-repeat 30% 50%, #ffffff;
  }
  nav ul li.market.on a {
    background: url("/main_page/static/image/nav-icon03_b.svg") no-repeat 30% 50%, #ffffff;
  }
  .user_info {
    cursor: pointer;
  }
  .user_info p {
    color: #ffffff;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }
  .submenu {
    width: 147px;
    height: 58px;
    position: absolute;
    top: 54px;
    right: 0;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 6px rgb(0 0 0 / 10%);
    border-radius: 0 0 4px 4px;
    padding: 12px;
    z-index: 99;
    transition: 0.1s;
    visibility: hidden;
    opacity: 0;
  }
  .submenu::before {
    background-color: #fff;
    box-shadow: -2px 2px 2px 0 rgb(0 0 0 / 4%);
    content: "\00a0";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 68px;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .submenu.active {
    visibility: visible;
    opacity: 1;
  }
  .submenu a {
    display: inline-block;
    width: 123px;
    height: 34px;
    line-height: 32px;
    color: #25287f;
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    text-align: center;
  }
  
  /* ------- 홈 ------- */
  main {
    padding: 102px 0;
  }
  .contents_top {
    margin-bottom: 11px;
  }
  h2.tt {
    color: #25287f;
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  h2.tt span {
    display: inline-block;
    background: url("/main_page/static/image/tt-icon01.svg") no-repeat;
    width: 22px;
    height: 22px;
    margin-right: 9px;
    margin-bottom: 6px;
    vertical-align: middle;
  }
  button.m-managementBtn {
    background: url('/main_page/static/image/m-management-icon.svg') no-repeat 11% center, #f9f9f9;
  }
  button.stopwordBtn {
    background: url('/main_page/static/image/stopword-icon.svg') no-repeat 11% center, #f9f9f9;
  }
  .f_area .group {
    width: 408px;
  }
  p.tt {
    color: #25287f;
    font-weight: 700;
  }
  .f_area p.tt {
    margin-right: 12px;
  }
  .f_area select {
    width: 357px;
  }
  .period {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
    width: 357px;
    height: 38px;
  }
  .period ul li {
    width: 52px;
    padding: 9px 0;
    text-align: center;
    border-right: 1px solid #e7e7e7;
    line-height: 18px;
    cursor: pointer;
  }
  .period ul li.active {
    background: #f4f6ff;
    color: #25287f;
  }
  .period ul li.dateP {
    width: 200px;
    background: url('/main_page/static/image/calendar.svg') no-repeat 5.5% center, #ffffff;
    padding: 9px 24px 9px 33px;
    overflow: hidden;
  }
  .period ul li.dateP input[type="text"] {
    padding: 0;
    border: none;
    border-radius: 0;
    width: 154px;
  }
  .period ul li:last-child {
    border-right: none;
  }
  .period ul li.dateP.active {
    background: url('/main_page/static/image/calendar_b.svg') no-repeat 5.5% center, #f4f6ff;
  }
  .period ul li.dateP.active input {
    background: #f4f6ff;
    color: #5372f6;
    width: 188px;
  }
  h3.tt {
    color: #25287f;
    font-weight: 700;
  }
  
  /* 슬라이드 토글 */
  .slidetoggle {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
  }
  .category_item {
    background: #ffffff;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 0 0 4px 4px;
    padding: 16px;
  }
  .card_wrap {
    flex-wrap: wrap;
  }
  .card {
    width: 299px;
    margin-right: 14px;
    margin-bottom: 16px;
  }
  .card.animals {
    margin-bottom: 0;
  }
  .card:last-child {
    margin-right: 0;
  }
  .card p.tt {
    font-weight: 500;
  }
  .card .slidetoggle {
    padding: 10px 16px;
    background: #f9f9f9;
  }
  .card .category_item {
    height: 204px;
    padding: 14px 18px;
  }
  .card .category_item .che_wrap {
    margin-bottom: 11px;
  }
  .card .category_item .che_wrap:last-child {
    margin-bottom: 0;
  }
  .card .category_item .che_wrap p {
    margin-left: 8px;
  }
  .card .category_item .left {
    width: 152px;
  }
  .small_categories {
    position: relative;
  }
  .small_categories h3.tt {
    padding-left: 23px;
  }
  .small_categories .all_check {
    position: absolute;
    top: 15px;
    left: 16px;
  }
  .check_set {
    display: inline-flex;
    align-items: center;
  }
  .check_set p {
    margin-left: 5px;
    width: 165px;
  }
  .small_categories .slidetoggle {
    border-radius: 4px 4px 0 0;
  }
  .small_categories .category_item {
    padding: 9px 16px;
  }
  .small_categories .category_item .pattern01 {
    text-align: center;
  }
  .small_categories .category_item .pattern01 p {
    padding: 25px 0;
    font-size: 12px;
    line-height: 17px;
    color: #a7a7a7;
    display: inline-block;
  }
  .small_categories .category_item .pattern02 .common {
    display: none;
  }
  .small_categories .category_item .pattern02 .common.active {
    display: block;
  }
  .small_categories .check_set {
    height: 32px;
    margin-right: 13px;
  }
  .k_input {
    flex-wrap: wrap;
    padding: 16px 16px 0 16px;
  }
  .k_area .tt_row {
    padding: 9px 16px;
    border-bottom: 1px solid #e7e7e7;
  }
  .k_area .tt_row .tt_area p {
    margin-left: 12px;
  }
  .k_area .tt_row .tt_area p span {
    background: url('/main_page/static/image/check-icon.svg') no-repeat;
    display: inline-block;
    width: 17px;
    height: 17px;
    vertical-align: middle;
    margin-bottom: -2px;
  }
  .k_area .add_label {
    margin-right: 26px;
  }
  .k_area .add_label p {
    color: #25287f;
    font-weight: 500;
    margin-left: 5px;
  }
  button.add_k_Btn {
    background: url('/main_page/static/image/add-icon.svg') no-repeat 11% center, #f9f9f9;
  }
  .k_input .input_wrap {
    width: 609px;
    margin-bottom: 16px;
  }
  .k_input .input_wrap select {
    width: 137px;
    margin: 0 8px;
  }
  .k_input .input_wrap input[type="text"] {
    width: 437px;
    padding: 8px 38px 8px 12px;
  }
  .add_close {
    position: relative;
  }
  .add_close span {
    background: url('/main_page/static/image/close02.svg') no-repeat center center, #f9f9f9;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #e7e7e7;
    border-radius: 0px 4px 4px 0px;
    width: 38px;
    height: 38px;
    text-indent: -9999em;
  }
  button.inquiry {
    width: 100%;
    background: #ffffff;
    color: #25287f;
    padding: 7px 0;
  }
  button.inquiry span {
    background: url('/main_page/static/image/search_b.svg') no-repeat;
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
  button.inquiry:hover {
    background: #25287f;
    color: #ffffff;
  }
  button.inquiry:hover span {
    background: url("/main_page/static/image/search_w.svg") no-repeat;
  }
  button.down {
    background: url('/main_page/static/image/download-icon.svg') no-repeat 8.5% center, #f9f9f9;
    height: 38px;
  }
  .comparison {
    padding: 8px 16px;
    margin-bottom: 12px;
    background: #f9f9f9;
  }
  .comparison .info_txt p {
    color: #a7a7a7;
  }
  .comparison button span {
    background: url("/main_page/static/image/button_bg_com.svg") no-repeat;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 3px;
    margin-right: 6px;
  }
  .comparison .items p {
    color: #25287f;
    padding: 6px 12px;
    background: #f4f6ff;
    border: 1px solid #25287f;
    border-radius: 4px;
    margin-right: 10px;
  }
  .comparison .items img {
    margin-right: 10px;
  }
  .comparison .items p span.close01 {
    background: url("/main_page/static/image/close01.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 14px;
    cursor: pointer;
  }
  
  .list01 {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    position: relative;
  }
  .list01.h_fix {
    max-height: 419px;
  }
  .list01.h_fix table {
    width: 100%;
    height: 100%;
    display: block;
  }
  .list01.h_fix table tbody {
    width: 100%;
    max-height: 380px;
    display: inline-block;
    overflow-y: auto;
    color: #595959;
  }
  .list01 table thead tr {
    border-bottom: 1px solid #e7e7e7;
  }
  .list01 table tbody td {
    height: 38px;
    line-height: 24px;
    padding: 6px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
  .list01 table.h_fix tbody td {
    display: inline-block;
  }
  .list01 table th,
  .list01 table td {
    text-align: center;
    display: inline-block;
    border-right: 1px solid #e7e7e7;
  }
  .list01 table th input.hidden {
    display: none;
  }
  .list01 table.style01 thead th:first-child,
  .list01 table.glowpick thead th:first-child {
    text-indent: -9999em;
  }
  .list01 table th:last-child,
  .list01 table td:last-child {
    border-right: none;
  }
  .list01 table th {
    padding: 12px 10px;
    font-weight: 500;
    background: #f9f9f9;
  }
  .list01 table td {
    color: #595959;
    border-bottom: 1px solid #e7e7e7;
  }
  .list01 table td.left {
    text-align: left;
    padding: 6px 12px;
  }
  .list01 table.style01 tbody tr td:first-child {
    line-height: 34px;
  }
  .list01 table tbody tr:last-child td {
    border-bottom: none;
  }
  .list01 table.style01 thead th:nth-of-type(1),
  .list01 table.style01 tbody td:nth-of-type(1) {
    width: 44px;
  }
  .list01 table.style01 thead th:nth-of-type(2),
  .list01 table.style01 tbody td:nth-of-type(2) {
    width: 52px;
  }
  .list01 table.style01 thead th:nth-of-type(3),
  .list01 table.style01 tbody td:nth-of-type(3) {
    width: 76px;
  }
  .list01 table.style01 thead th:nth-of-type(4),
  .list01 table.style01 tbody td:nth-of-type(4) {
    width: 76px;
  }
  .list01 table.style01 thead th:nth-of-type(5),
  .list01 table.style01 tbody td:nth-of-type(5) {
    width: 281px;
  }
  .list01 table.style01 thead th:nth-of-type(6),
  .list01 table.style01 tbody td:nth-of-type(6) {
    width: 138px;
  }
  .list01 table.style01 thead th:nth-of-type(7),
  .list01 table.style01 tbody td:nth-of-type(7) {
    width: 138px;
  }
  .list01 table.style01 thead th:nth-of-type(8),
  .list01 table.style01 tbody td:nth-of-type(8) {
    width: 138px;
  }
  .list01 table.style01 thead th:nth-of-type(9),
  .list01 table.style01 tbody td:nth-of-type(9) {
    width: 115px;
  }
  .list01 table.style01 thead th:nth-of-type(10),
  .list01 table.style01 tbody td:nth-of-type(10) {
    width: 76px;
  }
  .list01 table.style01 thead th:nth-of-type(11),
  .list01 table.style01 tbody td:nth-of-type(11) {
    width: 94px;
  }
  .list01 table.style01 thead th:nth-of-type(12),
  .list01 table.style01 tbody td:nth-of-type(12) {
    width: 76px;
  }
  table tbody td.img {
    text-align: center;
    padding: 2px;
  }
  .list01 table tbody td.img {
    text-align: center;
    padding: 2px;
  }
  table td.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .list01 table td.d-click,
  #m_modal .list01 table td.d-click01 {
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .list01 table td.product_name {
    text-align: left;
    padding: 6px 12px;
  }
  .list01 form {
    position: absolute;
    top: 32px;
    left: 667px;
    z-index: 999;
    width: 236px;
    height: 38px;
    background: #fff;
    border: 1px solid #cbcbcb;
    box-shadow: 0px 0px 7px rgba(37, 40, 127, 0.18);
    visibility: hidden;
    opacity: 0;
  }
  .m_m .list01 form {
    left: 589px;
  }
  .list01 form.on {
    visibility: visible;
    opacity: 1;
  }
  .list01 form input,
  .list01 form span {
    padding: 9px 11px;
    height: 36px;
    line-height: 19px;
  }
  .list01 form input[type="text"],
  .m_m form input[type="text"] {
    background: #ffffff;
    width: 136px;
    border: none;
    border-radius: 0;
  }
  .list01 form input[type="submit"] {
    background: #f4f6ff;
    width: 50px;
    color: #25287f;
    border-left: 1px solid #cbcbcb;
    border-right: 1px solid #cbcbcb;
    cursor: pointer;
  }
  .list01 form span {
    display: inline-block;
    width: 48px;
    color: #595959;
    text-align: center;
    background: #f9f9f9;
    cursor: pointer;
  }
  table td button {
    width: 52px;
    height: 24px;
    color: #25287f;
    font-size: 12px;
    line-height: 24px;
    background: #f4f6ff;
    border-radius: 4px;
    border: none;
  }
  .list01 table.style01 tr.disabled td,
  .list01 table.glowpick tr.disabled td {
    color: #b9babb;
  }
  .list01 table.style01 tr.disabled td.img img,
  .list01 table.glowpick tr.disabled td.img img {
    opacity: 0.4;
  }
  
  /* 제조사명 관리 */
  .modal_style h3.tt {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  .modal_style h3.tt span {
    display: inline-block;
    width: 26px;
    height: 26px;
    margin-right: 7px;
    margin-bottom: 3px;
    vertical-align: middle;
  }
  .m_m .modal_style h3.tt span {
    background: url("/main_page/static/image/m-management-icon_b.svg") no-repeat;
  }
  .m_m .modal_style h3 + div {
    margin-top: 20px;
  }
  .m_m .modal_style select.m-select {
    width: 240px;
  }
  .list01 table.m-manage thead th:nth-of-type(1),
  .list01 table.m-manage tbody td:nth-of-type(1) {
    width: 139px;
  }
  .list01 table.m-manage thead th:nth-of-type(2),
  .list01 table.m-manage tbody td:nth-of-type(2) {
    width: 240px;
  }
  .list01 table.m-manage thead th:nth-of-type(3),
  .list01 table.m-manage tbody td:nth-of-type(3) {
    width: 194px;
  }
  .list01 table.m-manage thead th:nth-of-type(4),
  .list01 table.m-manage tbody td:nth-of-type(4) {
    width: 194px;
  }
  .list01 table.m-manage thead th:nth-of-type(5),
  .list01 table.m-manage tbody td:nth-of-type(5) {
    width: 171px;
  }
  .modal_style h4.tt {
    color: #25287f;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
  }
  .add_stopword {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    margin: 20px 0;
  }
  .add_stopword .group {
    position: relative;
  }
  .add_stopword .group p {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 93px;
    height: 36px;
    border-radius: 2px 0px 0px 2px;
    background: #f8f8f8;
    border-right: 1px solid #e7e7e7;
    text-align: center;
    line-height: 35px;
    font-weight: 700;
  }
  .add_stopword .group input[type="text"] {
    width: 100%;
    padding: 8px 12px 8px 105px;
  }
  .add_stopword button.add {
    width: 100%;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 8px 0;
    color: #25287f;
  }
  .add_stopword button.add span {
    background: url("/main_page/static/image/add-icon_b.svg");
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
  }
  .stopword .modal_style h3.tt span {
    background: url("/main_page/static/image/stopword-icon_b.svg") no-repeat;
  }
  .search_input {
    background: #ffffff;
    position: relative;
    border: 1px solid #e7e7e7;
    overflow: hidden;
    border-radius: 4px;
    height: 38px;
  }
  .search_input input[type="text"] {
    padding: 8px 12px;
    font-size: 14px;
    height: 37px;
    width: 269px;
    color: #161616;
    border: none;
  }
  .search_input input[type="submit"] {
    padding: 8px 12px;
    width: 50px;
    height: 38px;
    background: #25287f;
    color: #ffffff;
    font-weight: 300;
    cursor: pointer;
    border-left: 1px solid #e7e7e7;
  }
  .list01 table.stopword_table thead th:nth-of-type(1),
  .list01 table.stopword_table tbody td:nth-of-type(1) {
    width: 211px;
  }
  .list01 table.stopword_table thead th:nth-of-type(2),
  .list01 table.stopword_table tbody td:nth-of-type(2) {
    width: 374px;
  }
  .list01 table.stopword_table thead th:nth-of-type(3),
  .list01 table.stopword_table tbody td:nth-of-type(3) {
    width: 106px;
  }
  .list01 table.stopword_table thead th:nth-of-type(4),
  .list01 table.stopword_table tbody td:nth-of-type(4) {
    width: 154px;
  }
  .list01 table.stopword_table thead th:nth-of-type(5),
  .list01 table.stopword_table tbody td:nth-of-type(5) {
    width: 93px;
  }
  .list01 table.stopword_table tbody td span.stopW_Delete {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    display: inline-block;
    color: #595959;
    font-size: 12px;
    line-height: 17px;
    padding: 3px 14px;
    cursor: pointer;
  }
  .delete_modal {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1002;
    opacity: 0;
    visibility: hidden;
    transition: 0.1s;
  }
  .delete_modal .contents {
    width: 373px;
    height: 166px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    text-align: center;
  }
  .delete_modal.active {
    visibility: visible;
    opacity: 1;
  }
  .delete_modal p {
    margin-bottom: 32px;
  }
  .delete_modal p strong {
    color: #25287f;
  }
  .delete_modal button {
    width: 76px;
    height: 34px;
    padding: 7px;
    line-height: 18px;
  }
  .delete_modal button.c_Btn {
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
    margin-right: 14px;
    color: #161616;
  }
  .delete_modal button.d_Btn {
    color: #25287f;
    background: #f4f6ff;
    border: 1px solid #e7e8f7;
  }
  .group .div {
    width: 370px;
    height: 38px;
    text-align: center;
  }
  .group .div p {
    width: 50%;
    line-height: 36px;
    cursor: pointer;
    background: #ffffff;
  }
  .group .div p:first-child {
    border: 1px solid #e7e7e7;
    border-radius: 4px 0px 0px 4px;
  }
  .group .div p:last-child {
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0px 4px 4px 0px;
  }
  .group .div p.active {
    color: #25287f;
    background: #f4f6ff;
  }
  .checkBox_wrap .row {
    width: 100%;
  }
  .half {
    width: 50%;
  }
  .checkBox_wrap .row .che_wrap {
    margin-right: 14px;
  }
  .checkBox_wrap .row .che_wrap:last-child {
    margin-right: 0;
  }
  .checkBox_wrap .row .che_wrap p {
    margin-left: 5px;
  }
  .list01 table.glowpick thead th:nth-of-type(1),
  .list01 table.glowpick tbody td:nth-of-type(1) {
    width: 44px;
  }
  .list01 table.glowpick thead th:nth-of-type(2),
  .list01 table.glowpick tbody td:nth-of-type(2) {
    width: 52px;
  }
  .list01 table.glowpick thead th:nth-of-type(3),
  .list01 table.glowpick tbody td:nth-of-type(3) {
    width: 76px;
  }
  .list01 table.glowpick thead th:nth-of-type(4),
  .list01 table.glowpick tbody td:nth-of-type(4) {
    width: 76px;
  }
  .list01 table.glowpick thead th:nth-of-type(5),
  .list01 table.glowpick tbody td:nth-of-type(5) {
    width: 557px;
  }
  .list01 table.glowpick thead th:nth-of-type(6),
  .list01 table.glowpick tbody td:nth-of-type(6) {
    width: 138px;
  }
  .list01 table.glowpick thead th:nth-of-type(7),
  .list01 table.glowpick tbody td:nth-of-type(7) {
    width: 115px;
  }
  .list01 table.glowpick thead th:nth-of-type(8),
  .list01 table.glowpick tbody td:nth-of-type(8) {
    width: 76px;
  }
  .list01 table.glowpick thead th:nth-of-type(9),
  .list01 table.glowpick tbody td:nth-of-type(9) {
    width: 94px;
  }
  .list01 table.glowpick thead th:nth-of-type(10),
  .list01 table.glowpick tbody td:nth-of-type(10) {
    width: 76px;
  }
  .search_results02 {
    margin-top: 20px;
    padding-top: 8px;
    border-top: 1px solid #e7e7e7;
  }
  .chart_card {
    width: 424px;
    height: 241px;
  }
  .chart_card .tt_area {
    height: 39px;
    background: #f9f9f9;
    border-bottom: 1px solid #e7e7e7;
    padding: 8px 12px;
  }
  .chart_card .tt_area .tt {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    color: #161616;
  }
  .chart_card .contents {
    padding: 26px 36px;
  }
  .chart_card .contents .chart_wrap {
    width: 150px;
    height: 150px;
    margin-right: 49px;
    border-right: 0;
  }
  .legend {
    width: 285px;
    position: relative;
  }
  .legend.center {
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
  }
  .legend ul li span {
    width: 18px;
    height: 5px;
    display: inline-block;
    margin-right: 6px;
    vertical-align: middle;
  }
  .legend ul li {
    font-size: 12px;
    line-height: 19px;
    display: inline-block;
    margin-right: 14px;
  }
  .legend ul li:last-child {
    margin-right: 0;
  }
  .review_box p.tt {
    color: #161616;
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    padding: 8px 12px;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
  }
  .list01 table.review_table thead th:nth-of-type(1),
  .list01 table.review_table tbody td:nth-of-type(1) {
    width: 54px;
  }
  .list01 table.review_table thead th:nth-of-type(2),
  .list01 table.review_table tbody td:nth-of-type(2) {
    width: 63px;
  }
  .list01 table.review_table thead th:nth-of-type(3),
  .list01 table.review_table tbody td:nth-of-type(3) {
    width: 415px;
  }
  .list01 table.review_table thead th:nth-of-type(4) {
    width: 111px;
  }
  .list01 table.review_table tbody td:nth-of-type(4) {
    width: 94px;
  }
  .review_box .list01 {
    border-radius: 0px 0px 4px 4px;
  }
  .review_box .list01.h_fix table tbody {
    height: 380px;
  }
  .review_box .list01 table tbody tr:last-child td {
    border-bottom: 1px solid #e7e7e7;
  }
  #prod_list_tbody tr{
    cursor: pointer;
  }
  .list01 table tbody td.ranking {
    font-size: 13px;
    line-height: inherit;
  }
  td.ranking span:first-child{
    display: flex;
    justify-content: center;
  }
  td.ranking span:last-child {
    font-size: 10px;
    display: flex;
    justify-content: center;
    margin-top: 3px;
  }
  
  
  /* ------- 제품 상세 ------- */
  .chart_wrap {
    width: 322px;
    height: 100%;
    border-right: 1px solid #e7e7e7;
    margin-right: 0;
  }
  button.listBtn {
    background: url('/main_page/static/image/list-icon.svg') no-repeat 8.5% center, #f9f9f9;
    height: 38px;
  }
  .product_info .img_wrap {
    width: 300px;
    height: 300px;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    overflow: hidden;
  }
  .product_info .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .product_info .desc {
    width: 988px;
    margin-left: 20px;
    height: 300px;
  }
  .product_info .desc .category_info {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 30px;
    padding: 4px 16px;
    margin-right: 12px;
  }
  .product_info .desc .category_info:last-child {
    margin-right: 0;
  }
  .product_info .desc .category_info span {
    color: #7c7b7b;
  }
  .product_info .desc .category_info p {
    color: #595959;
    margin-left: 6px;
  }
  .product_info h3 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    padding: 10px 12px;
    background: #f9f9f9;
    border-radius: 4px;
  }
  .product_info .desc #description {
    height: 61px;
    overflow-y: auto;
  }
  .product_info .desc .info p.tt {
    color: #595959;
    font-weight: 700;
  }
  .product_info .info .ingredient {
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    padding: 11px 12px;
    margin-top: 8px;
    width: 100%;
    height: 99px;
    line-height: 24px;
    overflow-y: auto;
  }
  .chart_area01 .chart_card p.tt {
    background: #f9f9f9;
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
    padding: 7px 12px;
    font-size: 16px;
    line-height: 23px;
    color: #161616;
  }
  .product_chart {
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 0px 0px 4px 4px;
    width: 644px;
    height: 202px;
    overflow: hidden;
  }
  .chart_area01 .chart_card {
    width: 644px;
    height: 240px;
  }
  .product_chart .chart_wrap {
    padding: 20px 80px;
  }
  .chart_area01 .legend_wrap {
    position: relative;
    width: 322px;
  }
  .chart_area01 .legend {
    width: 220px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  /* h4.tt_b{
      font-size: 16px;
      font-weight: 700;
      line-height: 23px;
      color: #25287F;
  } */
  .chart_area02 {
    height: 279px;
  }
  .chart_area03 {
    height: 202px;
  }
  .chart_area04 {
    height: 239px;
  }
  .chart_area05 {
    position: relative;
    width: 100%;
    height: 370px;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #e7e7e7;
    padding: 16px;
    z-index: 0;
  }
  .chart_area05 .legend {
    position: absolute;
    bottom: 20px;
  }
  .chart_mirror {
    position: absolute;
    width: 50%;
    height: 300px;
    z-index: 1;
  }
  .chart_mirror:first-child {
    left: 7px;
  }
  .chart_mirror:last-child {
    right: 7px;
  }
  .chart_area06 {
    position: relative;
    width: 424px;
    height: 325px;
    border-radius: 0px 0px 4px 4px;
    border: 1px solid #e7e7e7;
    padding: 10px;
    z-index: 0;
  }
  
  .chart_area06 .chart_mirror:last-child {
    right: 6px;
  }
  .chart_area07 {
    height: 342px;
  }
  .list01 table.key_sentence thead th:nth-of-type(1),
  .list01 table.key_sentence tbody td:nth-of-type(1) {
    width: 48px;
  }
  .key_all .list01 table.key_sentence thead th:nth-of-type(2),
  .key_all .list01 table.key_sentence tbody td:nth-of-type(2) {
    width: 1256px;
  }
  .list01 table.key_sentence thead th,
  .list01 table.key_sentence tbody td {
    height: 34px;
  }
  .list01 table.key_sentence thead th {
    padding: 9px 12px;
  }
  .list01 table.key_sentence tbody td {
    color: #595959;
    line-height: 22px;
  }
  .list01 table.key_sentence tbody td:last-child {
    text-align: left;
    padding: 6px 16px;
  }
  .key_positive,
  .key_negative {
    width: 644px;
  }
  .review_common .list01 table.key_sentence thead th:nth-of-type(2),
  .review_common .list01 table.key_sentence tbody td:nth-of-type(2) {
    width: 594px;
  }
  
  /* ------- 제품 비교 ------- */
  .project_com .product_info .desc .category_info_wrap {
    display: inline-flex;
    flex-direction: column;
  }
  .project_com .product_info .desc .category_info {
    margin-right: 0;
    display: inline-flex;
    align-items: center;
  }
  .project_com .product_info .desc .category_info:last-child {
    margin-bottom: 0;
  }
  .project_com .product_info .img_wrap {
    width: 279px;
    height: 279px;
  }
  .project_com .product_info .desc {
    width: 351px;
    margin-left: 15px;
  }
  .project_com .product_info .desc .info .ingredient {
    height: 121px;
  }
  .project_com .product_info .desc {
    height: auto;
  }
  
  ul.com_chart {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
    background: #f9f9f9;
    overflow: hidden;
  }
  ul.com_chart li {
    width: 50%;
    font-weight: 500;
    text-align: center;
    padding: 8px;
    font-size: 14px;
    line-height: 20px;
  }
  
  ul.com_chart li {
    border-right: 1px solid #ececee;
  }
  ul.com_chart li:last-child {
    border-right: none;
  }
  .key_card {
    width: 644px;
    height: 294px;
    margin-right: 20px;
  }
  .key_card:last-child {
    margin-right: 0;
  }
  .product_n {
    padding: 8px 12px;
    height: 38px;
    font-weight: 700;
  }
  .top_key {
    height: 256px;
    padding: 12px;
    background: #f9f9f9;
  }
  .top_key .keyword {
    padding: 4.5px 12px;
    margin-bottom: 8px;
  }
  .top_key .keyword:last-child {
    margin-bottom: 0;
  }
  .top_key .keyword p {
    line-height: 28px;
  }
  .top_key .keyword p span {
    width: 22px;
    height: 22px;
    display: inline-block;
    background: url("/main_page/static/image/num_b.svg") no-repeat 0px 0px;
    margin-bottom: 3px;
    margin-right: 22px;
    vertical-align: middle;
  }
  .top_key .keyword:nth-of-type(2) p span {
    background: url("/main_page/static/image/num_b.svg") no-repeat -23px 0px;
  }
  .top_key .keyword:nth-of-type(3) p span {
    background: url("/main_page/static/image/num_b.svg") no-repeat -46px 0px;
  }
  .top_key .keyword:nth-of-type(4) p span {
    background: url("../img/num_b.svg") no-repeat -69px 0px;
  }
  .top_key .keyword:nth-of-type(5) p span {
    background: url("/main_page/static/image/num_b.svg") no-repeat -92px 0px;
  }
  .top_key .keyword p.percentage {
    font-weight: 500;
    color: #25287f;
  }
  .top_key.green .keyword p span {
    background: url("/main_page/static/image/num_g.svg") no-repeat 0px 0px;
  }
  .top_key.green .keyword:nth-of-type(2) p span {
    background: url("/main_page/static/image/num_g.svg") no-repeat -23px 0px;
  }
  .top_key.green .keyword:nth-of-type(3) p span {
    background: url("/main_page/static/image/num_g.svg") no-repeat -46px 0px;
  }
  .top_key.green .keyword:nth-of-type(4) p span {
    background: url("/main_page/static/image/num_g.svg") no-repeat -69px 0px;
  }
  .top_key.green .keyword:nth-of-type(5) p span {
    background: url("/main_page/static/image/num_g.svg") no-repeat -92px 0px;
  }
  .top_key.green .keyword p.percentage {
    color: #65ae55;
  }
  .project_com .table_wrapper.list01 {
    border-radius: 0 0 4px 4px;
  }
  .review_common .product_n {
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
  }
  .distribution_card p.tt {
    width: 424px;
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    padding: 7px 12px;
    background: #f9f9f9;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
    color: #161616;
  }
  
  /* ------- 트렌드 분석 ------- */
  main.trend h2.tt span {
    background: url('/main_page/static/image/tt-icon02.svg') no-repeat;
  }
  main.trend ul.tabs {
    margin-top: 18px;
    padding: 0px;
    list-style: none;
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    display: inline-block;
    border-radius: 6px 6px 0px 0px;
  }
  main.trend ul.tabs li {
    width: 170px;
    background: none;
    color: #a6abc8;
    display: inline-block;
    padding: 11px 0;
    text-align: center;
    font-weight: 500;
    border-right: 1px solid #e7e7e7;
    border-bottom: 2px solid #fff;
    cursor: pointer;
  }
  main.trend ul.tabs li:first-child {
    border-radius: 6px 0 0 0;
  }
  main.trend ul.tabs li:last-child {
    border-right: none;
    border-radius: 0 6px 0 0;
  }
  main.trend ul.tabs li.current {
    background: #f8f8f8;
    color: #25287f;
    font-weight: 700;
    border-bottom: 2px solid #25287f;
  }
  main.trend .tab-content {
    display: none;
  }
  main.trend .tab-content.current {
    display: inherit;
  }
  .filter_area {
    background: #f8f8f8;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 6px;
    padding: 16px;
    margin-top: 9px;
  }
  
  /* 네이버 데이터랩 */
  main.trend .filter_area {
    margin-top: 0;
    border-radius: 0px 6px 6px 6px;
  }
  .filter_area .group p.tt {
    margin-right: 12px;
  }
  .filter_area .group.class p.tt {
    margin-right: 57px;
  }
  .filter_area .group.class select {
    width: 377px;
  }
  .filter_area .group.class_age select {
    width: 161px;
  }
  .filter_area .period ul li {
    width: auto;
    padding: 9px 24px;
  }
  .filter_area .period {
    width: 311px;
  }
  .filter_area .group .month_select select {
    width: 87px;
  }
  .group p.tt span {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("/main_page/static/image/info.svg") no-repeat;
    vertical-align: middle;
  }
  .group p.month {
    width: 50px;
    height: 38px;
    line-height: 36px;
    background: #f4f6ff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    color: #25287f;
    text-align: center;
  }
  .filter_area .group .month_select select.month {
    width: 78px;
  }
  .filter_area .group .month_select span {
    font-weight: 700;
    margin: 0 9px;
  }
  .set_date {
    position: relative;
  }
  .info_pop {
    cursor: pointer;
  }
  .popup {
    width: 245px;
    height: 80px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    padding: 10px;
    color: #595959;
    position: absolute;
    left: -105px;
    top: 41px;
    font-size: 12px;
    line-height: 20px;
    transition: 0.4s;
    opacity: 0;
    visibility: hidden;
  }
  .popup::before {
    background-color: #fff;
    box-shadow: -2px 2px 2px 0 rgb(0 0 0 / 4%);
    content: "\00a0";
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    top: -5px;
    left: 107px;
    transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }
  .info_pop:hover + .popup {
    opacity: 1;
    visibility: visible;
  }
  .title_info p.tt_common,
  h4.tt_b {
    font-size: 16px;
    font-weight: 700;
    line-height: 23px;
    color: #25287f;
  }
  .top20List.half {
    width: 645px;
  }
  .title_info p.tt_common strong,
  h2.tt strong {
    color: #65ae55;
  }
  .half .title_info button {
    width: 38px;
    height: 38px;
    text-align: center;
    line-height: 42px;
  }
  .view_date {
    background: #f9f9f9;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid #e7e7e7;
  }
  .view_date p {
    display: inline-block;
    color: #25287f;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }
  .view_date span {
    display: inline-block;
    width: 14px;
    height: 14px;
    text-indent: -9999em;
    cursor: pointer;
  }
  .view_date span.prev_month {
    background: url("/main_page/static/image/mon_prev.svg") no-repeat;
    margin-right: 19px;
  }
  .view_date span.next_month {
    background: url("/main_page/static/image/mon_next.svg") no-repeat;
    margin-left: 19px;
  }
  .search_word ul {
    background: #f9f9f9;
    border-radius: 4px;
    margin-right: 13px;
    width: 300px;
    padding: 12px;
  }
  .search_word ul:last-child {
    margin-right: 0;
  }
  .search_word ul li {
    margin-bottom: 15px;
    cursor: pointer;
  }
  .search_word ul li:last-child {
    margin-bottom: 0;
  }
  .search_word ul li p span {
    display: inline-block;
    width: 17px;
    text-align: center;
    font-weight: 700;
    margin-right: 16px;
  }
  .search_word ul li p {
    display: inline-block;
    width: 275px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .search_word ul li:hover {
    color: #65ae55;
  }
  .view_date_wrap .view_date {
    border-top: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
    border-bottom: none;
    border-radius: 4px 4px 0px 0px;
  }
  .new_list .list01 {
    border-radius: 0px 0px 4px 4px;
  }
  .list01 table.new_top20 tbody td {
    height: 34px;
    padding: 6px 12px;
  }
  .list01 table.new_top20 thead th:nth-of-type(1),
  .list01 table.new_top20 tbody td:nth-of-type(1) {
    width: 48px;
  }
  .list01 table.new_top20 thead th:nth-of-type(2),
  .list01 table.new_top20 tbody td:nth-of-type(2) {
    width: 485px;
  }
  .list01 table.new_top20 thead th:nth-of-type(3),
  .list01 table.new_top20 tbody td:nth-of-type(3) {
    width: 485px;
  }
  .list01 table.new_top20 thead th:nth-of-type(4),
  .list01 table.new_top20 tbody td:nth-of-type(4) {
    width: 104px;
  }
  .list01 table.new_top20 thead th:nth-of-type(5),
  .list01 table.new_top20 tbody td:nth-of-type(5) {
    width: 91px;
  }
  .list01 table.new_top20 thead th:nth-of-type(6),
  .list01 table.new_top20 tbody td:nth-of-type(6) {
    width: 91px;
  }
  .list01 table.new_top20 tbody td:nth-of-type(2) {
    cursor: pointer;
  }
  .list01 table.new_top20 tbody td:nth-of-type(2):hover {
    color: #65ae55;
  }
  
  /* 연관검색어 모달 */
  .related_s_w .modal_style h3.tt span {
    background: url('/main_page/static/image/search_b.svg') no-repeat;
    width: 24px;
    height: 24px;
    margin-bottom: 0;
  }
  .related_s_w .search_input {
    display: inline-block;
    margin-left: 15px;
  }
  .list01 table.related_s_w_t thead th:nth-of-type(1),
  .list01 table.related_s_w_t tbody td:nth-of-type(1) {
    width: 48px;
  }
  .list01 table.related_s_w_t thead th:nth-of-type(2),
  .list01 table.related_s_w_t tbody td:nth-of-type(2) {
    width: 568px;
  }
  .list01 table.related_s_w_t thead th:nth-of-type(3),
  .list01 table.related_s_w_t tbody td:nth-of-type(3) {
    width: 141px;
  }
  .list01 table.related_s_w_t thead th:nth-of-type(4),
  .list01 table.related_s_w_t tbody td:nth-of-type(4) {
    width: 181px;
  }
  .relative {
    position: relative;
  }
  .button_info {
    position: absolute;
    top: -43px;
    right: 0px;
  }
  button.relatedBtn {
    background: url('/main_page/static/image/search_g.svg') no-repeat 11% center, #f9f9f9;
  }
  .related_s_w .search_input input[type="text"] {
    width: 335px;
  }
  
  /* 블로그 리뷰 */
  .search_input input.long {
    width: 1219px;
  }
  .list01 table.blog_table thead th:nth-of-type(1),
  .list01 table.blog_table tbody td:nth-of-type(1) {
    width: 48px;
  }
  .list01 table.blog_table thead th:nth-of-type(2),
  .list01 table.blog_table tbody td:nth-of-type(2) {
    width: 474px;
  }
  .list01 table.blog_table thead th:nth-of-type(3),
  .list01 table.blog_table tbody td:nth-of-type(3) {
    width: 396px;
  }
  .list01 table.blog_table thead th:nth-of-type(4),
  .list01 table.blog_table tbody td:nth-of-type(4) {
    width: 167px;
  }
  .list01 table.blog_table thead th:nth-of-type(5),
  .list01 table.blog_table tbody td:nth-of-type(5) {
    width: 143px;
  }
  .list01 table.blog_table thead th:nth-of-type(6),
  .list01 table.blog_table tbody td:nth-of-type(6) {
    width: 76px;
  }
  table.blog_table td button {
    color: #595959;
    font-size: 12px;
    line-height: 17px;
    background: #f9f9f9;
    border: 1px solid #e7e7e7;
  }
  .youtube_wrap,
  .thumbnail_wrap {
    flex-wrap: wrap;
  }
  .youtube_wrap .box,
  .thumbnail_wrap .box {
    width: 315px;
    height: 273px;
    background: #ffffff;
    border: 1px solid #e7e7e7;
    border-radius: 4px;
    margin-right: 15px;
    margin-bottom: 16px;
    overflow: hidden;
  }
  .youtube_wrap .box a,
  .thumbnail_wrap .box a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  .youtube_wrap .box .img_wrap {
    width: 100%;
    height: 178px;
    overflow: hidden;
    border-bottom: 1px solid #e7e7e7;
  }
  .thumbnail_wrap .box .img_wrap {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .youtube_wrap .box .img_wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .thumbnail_wrap .box .img_wrap img {
    width: 100%;
    height: 100%;
  }
  .youtube_wrap .box .info {
    padding: 11px 12px 12px;
  }
  .youtube_wrap .box .info h3 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
    height: 46px;
    margin-bottom: 6px;
  }
  .youtube_wrap .box .info p {
    color: #595959;
  }
  .youtube_wrap .box .info p:first-child {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .youtube_wrap .box:nth-child(4n),
  .thumbnail_wrap .box:nth-child(4n) {
    margin-right: 0;
  }
  .youtube_wrap .box .info p.instatag {
    width: 100%;
  }
  .youtube_wrap .box .info p.instatag span {
    display: inline-block;
    margin-right: 4px;
  }
  
  /* ------- 시장 현황 ------- */
  main.market h2.tt span {
    background: url('/main_page/static/image/tt-icon03.svg') no-repeat;
  }
  main.market .filter_area {
    background: #f8f8f8;
    border: none;
    border-radius: 0;
    padding: 0px;
    margin-top: 0px;
  }
  main.market .filter_area .p_sele {
    width: 97px;
    margin-right: 14px;
  }
  main.market .filter_area .p_sele select {
    width: 100%;
  }
  .filter_area .che_wrap p {
    margin-left: 8px;
  }
  main.market .card .category_item {
    height: 236px;
  }
  main.market .card .lower_category {
    padding-left: 20px;
  }
  main.market .card {
    position: relative;
  }
  main.market .card .all_check {
    position: absolute;
    top: 12px;
    left: 18px;
  }
  main.market .card p.tt {
    padding-left: 30px;
  }
  .medium_categories {
    position: relative;
  }
  .medium_categories .all_check {
    position: absolute;
    top: 15px;
    left: 16px;
  }
  .market .medium_categories h3.tt {
    padding-left: 23px;
  }
  .title_info p.tt_common.black {
    color: #161616;
  }
  .table-scroll {
    position: relative;
    overflow: hidden;
  }
  .table-scroll .table-wrap {
    overflow: auto;
    white-space: nowrap;
    border: 1px solid #e7e7e7;
    border-radius: 0px 0px 4px 4px;
  }
  .table-scroll table th,
  .table-scroll table td {
    height: 31px;
    padding: 5px 12px;
    vertical-align: middle;
    border-right: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
    text-align: center;
    font-size: 14px;
    line-height: 20px;
  }
  .table-scroll table td {
    color: #595959;
  }
  .table-scroll table th:last-child,
  .table-scroll table td:last-child {
    border-right: none;
  }
  .table-scroll table tbody tr:last-child th,
  .table-scroll table tbody tr:last-child td {
    border-bottom: none;
  }
  .table-scroll table th {
    height: 33px;
    padding: 6px 18px;
    background: #f9f9f9;
    font-weight: 500;
  }
  .table-scroll table th.fixed-side {
    width: 157px;
    height: 33px;
    padding: 5px 18px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #595959;
    font-weight: 400;
    display: inline-block;
  }
  .table-scroll table th.fixed-side.first {
    padding: 5px 18px;
    text-align: center;
    display: inline-block;
  }
  .table-scroll table.clone th.fixed-side.first {
    height: 33px;
    color: #161616;
    font-weight: 500;
  }
  .table-scroll table th.fixed-side span {
    display: inline-block;
    width: 13px;
    height: 13px;
    background: #25287f;
    border: 1px solid #efefef;
    border-radius: 50%;
    margin-right: 8px;
    margin-bottom: 3px;
    vertical-align: middle;
  }
  .table-scroll table th.average,
  .table-scroll table td.average {
    width: 93px;
    background: #f9f9f9;
    font-weight: 500;
    color: #161616;
  }
  .table-scroll table.clone {
    position: absolute;
    top: 1px;
    left: 1px;
  }
  .table-scroll table.clone thead th,
  .table-scroll table.clone td {
    display: none;
  }
  .table-scroll table.clone thead th.average {
    display: revert;
  }
  .cover {
    width: 100%;
    height: 283px;
    background: #ffffff;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
    border-top: 1px solid #e7e7e7;
    border-radius: 4px 4px 0px 0px;
    padding: 12px;
    overflow: hidden;
  }
  
  .ms-choice {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('/main_page/static/image/select-bg.svg') no-repeat 94% 50%, #ffffff;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    border-radius: 4px;
    padding: 9px 41px 9px 12px;
    height: 38px;
  }
  .ms-choice > div.icon-caret {
    display: none;
  }
  .ms-choice > span {
    position: absolute;
    top: 6px;
    left: 5px;
    right: 26px;
  }
  .ms-drop input[type="radio"],
  .ms-drop input[type="checkbox"] {
    display: block;
    margin-top: 0.05rem;
  }
  .ms-choice > span.placeholder {
    color: #161616;
  }
  
  /* ------- 푸터 ------- */
  footer {
    height: 171px;
    text-align: center;
    padding: 26px 0;
    border-top: 1px solid #e7e7e7;
  }
  footer .f_logo {
    margin-bottom: 14px;
  }
  footer p {
    font-size: 12px;
    color: #a3a3a3;
  }
  